* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

li,
a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    background-color: #FF9900;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.navigation-list {
    list-style: none;
}

.navigation-list li {
    display: inline-block;
    padding: 0px 20px;
}

.navigation-list li a {
    transition: all 0.3s ease 0s;
}

.navigation-list li a:hover {
    color: grey;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
    background-color: white;
}

.login-box {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.login-box h1 {
    width: 100%;
    text-align: center;
    color: black;
    float: left;
    font-size: 30px;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.button {
    font-family: sans-serif;
    width: 100%;
    height: 40px;
    background: none;
    border: 2px solid black;
    color: white;
    padding: 5px;
    font-size: 20px;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid black;
}