<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <title>Congrats !</title>
       <link rel="stylesheet" href="{{url_for('static', filename='styles/congrats.css')}}">
</head>

<body>
       <header>
              <img class="logo" src="logo.png" alt="logo">
              <nav>
                     <ul class="navigation-list">
                            <li>
                                   <a href="#">Dashboard</a>
                            </li>
                            <li>
                                   <a href="#">Puzzle</a>
                            </li>
                            <li>
                                   <a href="#">Logout</a>
                            </li>
                     </ul>
              </nav>
       </header>
       <div class="message-container">
              <h1>
                     You guys have completed all levels !
              </h1>
              <h4>
                     Finishing time: {{finish_time}}
              </h4>
              <h6>
                     Take a screenshot of this ;)
              </h6>
       </div>
</body>

</html>