<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Puzzle</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/congrats.css')}}">
</head>

<body>
    <header>
        <nav>
            <ul class="navigation-list">
                <li>
                    <a href="/leaderboard">Leaderboard</a>
                </li>
                <li>
                    <a href="/puzzle">Puzzle</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="puzzle-container">
        <br>
        <h2>Congrats !</h2>
        <br>
        <h4>You have completed all levels !</h4>
    </div>
</body>

</html>