<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="dashboard.css">
        <title>Dashboard</title>
    </head>

    <body>
        <div align="center">
                <h1>Current Standings</h1>
        
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Team Name</th>
                            <th>Points</th>
                        </tr>
                    </thead>

                <tr>
                    <td>1</td>
                    <td>Alpha</td>
                    <td>7</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Bravo</td>
                    <td>6</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Charlie</td>
                    <td>4</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>Delta</td>
                    <td>3</td>
                </tr>

                </table>
        </div>
    </body>
</html>