<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/dashboard.css')}}">
        <title>Dashboard</title>
    </head>

    <body>
        <div align="center">
                <h1>Current Standings</h1>
        
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Team Name</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    {%for user in user_list%}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.level_completed}}</td>
                    </tr>
                    {%endfor%}
                </table>
        </div>
    </body>
</html>