<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <title>Document</title>
      <link rel="stylesheet" href="puzzle.css">
</head>
<body>
      <! NAVIGATOR HERE>
      <div class="puzzle-container">
            <h1>Think! Think! Think!</h1>
            <div class="image-container">
                  <! image here> 
            </div>
            <form action="/submit_answer" method="POST">
                  <div class="form-container">
                        <div class="textbox">
                              <input type="text" name="answer" placeholder="Enter your answer here">
                        </div>
                        <div>
                              <input class="button" type="submit" title="Submit">
                        </div>
                  </div>
            </form>
      </div>
</body>
</html>