<!DOCTYPE html>
<html>
       <head>
              <meta charset="UTF-8">
              <title>Base HTML</title>
              <link rel="stylesheet" href="{{url_for('static', filename='styles/base.css')}}">
       </head>
<body>
       <div class="topnav" id="topnav">
              <a href="/" class="active">Home</a>
              <a href="/dashboard">Dashboard</a>
              <a href="/puzzle">Puzzle</a>
              <a href="/logout">Logout</a>

              <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                     <i class="fa fa-bars"></i>
              </a>
       </div>
</body>
</html>