<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Treasure Hunt by CSE17</title>
		<link rel="stylesheet" href="{{url_for('static', filename='styles/homepage.css')}}">
	</head>
	<body>
		<div class="login-box">
			<h1>Login</h1>
			<form action="/dashboard" method="POST">
				<div class="text-box">
					<input type="text" placeholder="Username" value="" name="username" id="username">
				</div>
				<div class="text-box">
					<input type="password" placeholder="Password" value="" name="password" id="password">
				</div>
				<input class="button" type="submit" name="" value="Log in">
			</form>
		</div>
	</body>
</html>
