body {
       margin: 0;
       padding: 0;
       font-family: sans-serif;
       background: url(bg_cover.jpeg) no-repeat;
       background-size: cover;
}

.login-box{
       width: 280px;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       color: white;
}

.login-box h1{
       float: left;
       font-size: 40px;
       border-bottom: 6px solid cyan;
       margin-bottom: 50px;
       padding: 13px;
}

.text-box{
       width: 100%;
       overflow: hidden;
       font-size: 20px;
       padding: 8px 0;
       margin: 8px 0;
       border-bottom: 1px solid cyan;
}

.text-box input{
       border: none;
       outline: none;
       background: none;
       color: white;
       font-size: 18px;
       width: 80%;
       float: left;
       margin: 0 10px;
}

.button{
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       width: 100%;
       background: none;
       border: 2px solid cyan;
       color: whitesmoke;
       padding: 5px;
       font-size: 18px;
       cursor: pointer;
       margin: 12px 0;
}