* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

li,
a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    background-color: #FF9900;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.navigation-list {
    list-style: none;
}

.navigation-list li {
    display: inline-block;
    padding: 0px 20px;
}

.navigation-list li a {
    transition: all 0.3s ease 0s;
}

.navigation-list li a:hover {
    color: grey;
}

.content-table {
    font-family: sans-serif;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.center h2 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-table thead tr {
    background-color: darkslategray;
    color: white;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid white;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: whitesmoke;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid darkslategray;
}

.button {
    font-family: sans-serif;
    width: 10%;
    height: 30px;
    border: 2px solid whitesmoke;
    color: darkslategrey;
    padding: 2px;
    font-size: 12px;
}

.textbox {
    width: 10%;
    height: 25px;
    overflow: hidden;
    border: 0.5px solid black;
    font-size: 12px;
    padding: 8px 2px;
    margin: 8px 2px;
}