.topnav {
       background-color: #333;
       overflow: hidden;
       align-content: center;
}

.topnav a {
       float: left;
       display: block;
       color: aquamarine;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       font-size: 17px;
}

.topnav a:hover {
       background-color: chartreuse;
       color: black;
}

.topnav a.active {
       background-color: black;
       color: white;
}

.topnav .icon {
       display: none;
}