* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.navigation-list {
    list-style: none;
}

.navigation-list li {
    display: inline-block;
    padding: 0px 20px;
}

.navigation-list li a {
    transition: all 0.3s ease 0s;
}

.navigation-list li a:hover {
    color: whitesmoke;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    background-color: darkslategray;
}

.puzzle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.image-container {
    width: 400px;
    align-items: center;
    justify-content: center;
}

.image-container img {
    align-content: center;
    align-self: center;
    width: 100%;
    height: auto;
    orientation: landscape;
    alt: "puzzle";
}

.puzzle-container h2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.button {
    font-family: sans-serif;
    width: 100%;
    height: 40px;
    background: none;
    border: 2px solid white;
    color: white;
    padding: 5px;
    font-size: 20px;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid white;
}